<!DOCTYPE html>
<html>
  <head>
    <title>Melodify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/bc8fc39e74.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logoForm = "<%= image_url("logo-form.png") %>";
      window.splashURL = "<%= image_url('splash-bg.jpeg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
